MONGODB_URI=mongodb://localhost:27017/alumni_db
NEXTAUTH_SECRET=your_nextauth_secret_key_here
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_IS_LIVE=false
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BANK_NAME=Dutch-Bangla Bank PLC
NEXT_PUBLIC_BANK_ACCOUNT_NAME=Alumni Association Welfare Trust
NEXT_PUBLIC_BANK_ACCOUNT_NO=102.120.9876543
NEXT_PUBLIC_BANK_BRANCH=Karwan Bazar Branch, Dhaka
NEXT_PUBLIC_BKASH_MERCHANT=01700000000
NEXT_PUBLIC_NAGAD_MERCHANT=01800000000
RESEND_API_KEY=
EMAIL_FROM=no-reply@alumni.ac.bd
