# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js Build Output
/.next/
/out/
/build
/dist

# TypeScript Build Info
*.tsbuildinfo

# Environment Variables & Secrets
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic & Coverage
coverage
.nyc_output
*.lcov

# Vercel & Turborepo
.vercel
.turbo

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# Temporary & Cache files
.temp/
.tmp/
.cache/

# User Uploads
/public/uploads/*
!/public/uploads/.gitkeep

